header {background: white;}
.page-header a {}

.logo {color: aqua;}
.logo:hover {color: rgb(255, 136, 0);}

.site-nav a {color: black}
.site-nav a:hover {color: red}

.contakt-nav li a 


div {background:#000;}




footer {background: #000;}